/* Variables */
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
}
/* Google Font */
@font-face {
  font-family: "Outfit";
  src: url(../Outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 300, 400, 600;
  font-style: normal;
  font-display: swap;
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--very-dark-blue-main-bg);
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
p {
  font-size: 18px;
  font-weight: 300;
  color: var(--soft-blue);
  line-height: 1.5rem;
}
a {
  display: inline-block;
  color: white;
  text-decoration: none;
}
/* ---- NFT ---- */
#NFT {
  background-color: var(--very-dark-blue-card-bg);
  width: 23rem;
  height: 40rem;
  border-radius: 0.9rem;
  box-shadow: 0 1.4rem 0 1rem rgb(12, 23, 41),
    0 1rem 0 2.6rem rgba(12, 23, 41, 0.307);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.8rem 1.5rem;
}
/* -- NFT Img -- */
#NFT > #NFT-img {
  height: 320px;
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
#NFT > #NFT-img > i {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}
#NFT > #NFT-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--cyan);
  transition: 0.3s;
}
#NFT > #NFT-img:hover::after {
  opacity: 0.3;
}
#NFT > #NFT-img:hover > i {
  opacity: 1;
}
/* -- NFT Details -- */
#NFT > #details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#NFT > #details > h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
#NFT > #details > h1 > a:hover {
  color: var(--cyan);
}
/* -- NFT Balance & Calm -- */
#NFT > #balance-calm {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--very-dark-blue-line);
}
#NFT > #balance-calm > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}
#NFT > #balance-calm > span:nth-child(1) {
  color: var(--cyan);
}
#NFT > #balance-calm > span:nth-child(2) {
  color: var(--soft-blue);
}
/* -- NFT Creator -- */
#NFT > #creator {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
#NFT > #creator > img {
  border: 0.1rem solid white;
  border-radius: 50%;
}
#NFT > #creator > p > a {
  margin-left: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
}
#NFT > #creator > p > #name:hover {
  color: var(--cyan);
}
/* Footer */
footer {
  position: absolute;
  bottom: 1.2rem;
  min-width: 315px;
}
footer > p > a {
  font-size: 1.2rem;
  padding: 0 0.2rem;
  transition: 0.2s;
}
footer > p > a:hover {
  color: var(--cyan);
  transform: translateY(-0.2rem);
}

/* Media Queries */
@media (max-width: 576px) {
  #NFT {
    transform: scale(0.8);
  }
  footer > p {
    font-size: 0.7rem;
  }
  footer > p > a {
    font-size: 0.8rem;
  }
}
