/* Variables */
:root {
  --Midnight: #0d192b;
  --Midnight-Blue: #14253d;
  --Bright-Aqua: #00fff7;
  --Powder-Blue: #8bacda;
}

/* Google Fonts */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 900 600 400;
  font-style: normal;
  font-display: swap;
}

/* Global Styles */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-color: var(--Midnight);
  padding: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

.glow1:hover {
  color: var(--Bright-Aqua);
  transition: all 0.3s ease;
}

/* Layout */
#container {
  min-height: 85vh;
}

/* NTF Card */
#card {
  width: 23rem;
  background-color: var(--Midnight-Blue);
  border-radius: 1rem;
  padding: 1.9rem 1.5rem;
}
.half {
  border-radius: 1rem;
  overflow: hidden;
}
#top img {
  width: 100%;
  object-fit: cover;
}
#bottom {
  padding-top: 1.5rem;
}
#bottom h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}
#bottom p {
  font-size: 1.14rem;
  line-height: 1.5rem;
  color: var(--Powder-Blue);
  font-weight: 300;
  margin: 1.1rem 0;
}
#balance-calm {
  border-bottom: 0.05rem solid var(--Powder-Blue);
  padding-bottom: 1.2rem;
  margin: 3rem 0 0 0;
}
#balance-calm span:first-child {
  color: var(--Bright-Aqua);
}
#balance-calm span:last-child {
  color: var(--Powder-Blue);
}
#balance-calm i {
  margin-right: 0.4rem;
}

#creator {
  margin-top: 0.5rem;
}
#creator img {
  border-radius: 50%;
  margin-right: 1rem;
  border: 0.1rem solid white;
}
#name {
  margin-left: 0.2rem;
  color: white;
}

footer {
  width: 100%;
  text-align: center;
  color: var(--Powder-Blue);
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 2rem;
}
footer p {
  line-height: 1.7rem;
}
footer a {
  color: white;
  font-weight: 700;
  margin: 0 0.2rem;
}
